<%- include('header') -%>
  <div id="root1"><%- content -%></div>
  <div id="root2"><%- content -%></div>
  <div id="root3"><%- content -%></div>
  <div id="root4"><%- content -%></div>
  <div id="root5"><%- content -%></div>
  <div id="root6"><%- content -%></div>
  <div id="root7"><%- content -%></div>
<%- include('footer') -%>